h1{
    text-align: center;
    font-size: 1.7cm;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav{
    text-align: center;
    font-size: 1cm;
}
body{
    background-color: rgb(80, 80, 80);
    color: aliceblue;
    font-size: 0.75cm;
    font-family: 'Courier New', Courier, monospace;
}
div.footer{
    height: 4cm;
    background-color: rgb(146, 146, 146);
    text-align: center;
    font-size: 0.7cm;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
}